@import "partials/common";
@import "partials/responsive-grid";
@import "partials/variables";

#header {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: $index-container-max-width;
  padding: 15px 15px 0 15px;
  position: relative;
}

#repositories-header {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: $index-container-max-width;
  padding: 15px 15px 0 15px;
  position: relative;
}

#repositories-body {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: $index-container-max-width;
  padding: 0 15px;
  position: relative;
}
